# ===============================
# APP CONFIG
# ===============================
NODE_ENV=development
PORT=3000

# ===============================
# DATABASE (PostgreSQL)
# ===============================
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/esewa_clone

# ===============================
# REDIS
# ===============================
REDIS_HOST=localhost
REDIS_PORT=6379

# ===============================
# KAFKA
# ===============================
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=esewa-clone
KAFKA_GROUP_ID=payment-group

# ===============================
# AUTH (JWT - RS256)
# ===============================
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
JWT_EXPIRES_IN=15m

# ===============================
# SECURITY
# ===============================
BCRYPT_SALT_ROUNDS=12
PIN_PEPPER=super_secret_pepper

# ===============================
# PAYMENT
# ===============================
PAYMENT_EXPIRY_MINUTES=15
IDEMPOTENCY_TTL_SECONDS=86400

# ===============================
# RATE LIMIT
# ===============================
RATE_LIMIT_MAX_REQUESTS=10
RATE_LIMIT_WINDOW_MS=60000

# ===============================
# STORAGE (MinIO / S3)
# ===============================
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
S3_BUCKET=kyc-documents

# ===============================
# OBSERVABILITY
# ===============================
LOG_LEVEL=info
PROMETHEUS_PORT=9090

# ===============================
# WEBHOOK
# ===============================
WEBHOOK_RETRY_COUNT=5
WEBHOOK_SECRET=webhook_secret_key